<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>question</key>
		<string>What is Dingo all about?</string>
		<key>answer</key>
		<string>Dingo is a Fan2Fan marketplace for buying and selling tickets to live events. 

Whether you need to sell your ticket at the last minute or are looking to buy a ticket to a sold out show, we’ve got you covered!

Dingo allows you to meet, chat and transact with other fans in just a few taps.
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>How do I sell my ticket?</string>
		<key>answer</key>
		<string>Selling your tickets with Dingo is easy. Simply click on the Sell Tickets icon at the bottom of the homescreen and follow the instructions. We try to add as many event details as possible onto our database to save you time. If we have not pre-loaded your event you can create it from scratch in just a few taps.

We have designed Dingo to be effortlessly simple. If you think we could improve our user experience we would love to hear from you at info@dingoapp.co.uk
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Why should I sell my ticket with Dingo?</string>
		<key>answer</key>
		<string>Convenience: We are mobile only, designed for on-the-go simplicity and convenience. Listing a ticket has never been easier. 
Control: With Dingo you are in charged. Set your price, chat with potential buyers within the app and arrange delivery or collection on your terms. 
Support: Our dispute resolution centre supports all transactions made through Dingo. We are real people, based in the UK, ready to help settle any problems that may arise.
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Why can’t I sell my ticket above face value?</string>
		<key>answer</key>
		<string>Dingo is a service for fans by fans. We think the secondary ticket market in the UK is a murky world rife with touts, fraud and inflated prices. Dingo aims to change the secondary market for good, starting with face value tickets and secured transactions. </string>
	</dict>
	<dict>
		<key>question</key>
		<string>How do the payments work?</string>
		<key>answer</key>
		<string>We are committed to making the secondary ticket market more transparent. Unfortunately there are people who make a lot of money selling fake tickets to unknowing fans. The delayed payment ensures that the buyer has a chance to verify the ticket before the seller receives their money. 

The buyer can release the funds to the seller at any point if they are happy with the ticket. Likewise the buyer can challenge the transaction within the app to freeze the payment and start a dispute resolution process. 
If no challenge is made, the funds will automatically release to the seller two days after the event takes place.
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Is Dingo safe?</string>
		<key>answer</key>
		<string>Safety and security is our key priority. We have taken the following steps to ensure that Dingo is a safe place to buy and sell tickets:

•	Delayed Payments: Buyers pay Dingo directly, and we hold the money until the buyer has confirmed they have received authentic tickets. There is a 2-day challenge period after the event after which we will release the funds to the seller.  
•	Paypal: All transactions made through Dingo are powered by PayPal, the largest payment provider in the world. Your sensitive card details are protected and secured by Paypal, they will not be stored on your device or on our servers. For more information about Paypal click here.
•	Facebook Verified Sellers: To buy or sell on Dingo all users must login through Facebook. Profile pictures, first names and friends in common are displayed to other users in order to create a trusted community.  Dingo will flag any accounts with a suspiciously low number of Facebook friends.
•	Community Management: The Dingo team will block the accounts and devices of known fraudulent users. We encourage you to report users acting suspiciously or fraudulently on the app.
•	User Ratings: We will be integrating user ratings soon.
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>How do the fees work?</string>
		<key>answer</key>
		<string>Dingo is transparent. There are no hidden fees. Ever.

If you decide to meet up in-person there is no fee.
There is also no fee for listing tickets for sale.

For any transactions made through the app, we charge the seller a 10% commission. 
This commission includes all Paypal fees and our dispute resolution service. 

Even if buyers and sellers decide to meet in person we still advise to pay through the app to benefit from our many security features.
</string>
	</dict>
	<dict>
		<key>question</key>
		<string>Is selling my ticket legal?</string>
		<key>answer</key>
		<string>Under UK law, two types of ticket are illegal for resale by an unauthorised individual. These are 1) UK train tickets and 2) Professional football tickets (including premier league and FA Cup competition tickets). 

Although not illegal, some venues or concert promoters also ban the resale of their tickets. Where unsure we advise you to check with the event organisers.
</string>
	</dict>
</array>
</plist>
